<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rd.dap"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/red_tape"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookmarkListActivity"
            android:label="@string/title_activity_audiobook_list" >
        </activity>
        <activity
            android:name=".AudiobookGridFragment"
            android:label="@string/title_activity_bookmark" >
        </activity>
        <activity
            android:name=".FileBrowserActivity"
            android:label="@string/title_activity_file_browser" >
        </activity>
        <activity
            android:name=".AudiobookActivity"
            android:label="@string/title_activity_audiobook" >
        </activity>
        <activity
            android:name=".InputActivity"
            android:label="@string/title_activity_input" >
        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/title_activity_track" >
        </activity>
        <activity
            android:name=".ControllerActivity"
            android:label="@string/title_activity_controller" >
        </activity>
        <activity
            android:name=".NewAudiobookActivity"
            android:label="@string/title_activity_new_audiobook" >
        </activity>

        <service android:name=".PlayerService" />
        <service
            android:name=".support.DriveHandler$DriveService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>